@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GLOBOLUS</h1>
    <p class="lead"> "No one should fear to undertake any task in the name of our Saviour, if it is just and if the intention is purely for His holy service"</p>
    <p> -Christopher Columbus</p>
    <p><a href="https://localhost:44378/Home/Map" class="btn btn-primary btn-lg">Navigate Now! &raquo;</a></p>
</div>


